<div class="container">
  <div class="head-container">
    <app-media-filters
      (filterChange)="onFiltersChanged($event)"
    ></app-media-filters>
    
    <div class="logo-theme-container">
      <app-theme-switcher ngSkipHydration></app-theme-switcher>
    </div>
  </div>

  <div class="category-tabs">
    <button 
      class="category-tab" 
      [class.active]="currentView === mediaType.MOVIE"
      (click)="showMovies()">
      <i class="tab-icon movie-icon"></i>
      <span>Фильмы</span>
      <span class="counter">{{moviesCount$$.getValue()}}</span>
    </button>
    
    <button 
      class="category-tab" 
      [class.active]="currentView === mediaType.SERIES"
      (click)="showSeries()">
      <i class="tab-icon series-icon"></i>
      <span>Сериалы</span>
      <span class="counter">{{seriesCount$$.getValue()}}</span>
    </button>
  </div>
  
  @if (currentView === mediaType.MOVIE) {
    <app-media-list
      [filters]="currentFilters" 
      [medias]="movies">
    </app-media-list>
  } 
  @if (currentView === mediaType.SERIES) {
    <app-media-list
      [filters]="currentFilters" 
      [medias]="series">
    </app-media-list>
  }
</div>